/* styles/Home.css */

/* Custom styles using Tailwind CSS */
.home-container {
    @apply bg-gray-900 min-h-screen flex flex-col items-center justify-center py-28;
  }
  
  .home-intro {
    @apply flex flex-row gap-5 w-full justify-start items-center py-20;
  }
  
  .home-text-container {
    @apply px-2 w-4/5;
  }
  
  .home-title {
    @apply mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl ml-8;
  }
  
  .home-highlight {
    @apply text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400 ml-8;
  }
  
  .home-description {
    @apply text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400 ml-10;
  }
  
  .home-image-container {
    @apply px-16;
  }
  
  .home-image {
    @apply rounded-super-lg shadow-intense h-full w-full;
  }
  
  .home-carousel {
    @apply w-full py-64;
  }
  
  .home-cards {
    @apply w-full mt-8 px-16 py-40;
  }
  
  .home-pricing {
    @apply w-full mt-8 px-16 py-8;
  }

  .custom-shape-divider-bottom-1718033667 {
    @apply absolute bottom-0 left-0 w-full overflow-hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1718033667 svg {
    @apply relative block;
    width: calc(162% + 1.3px);
    height: 433px;
}

.shape-fill {
    fill: #9B9B9B;
}