@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-animation {
  position: relative;
}

.underline-animation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust as needed */
  width: 0;
  height: 2px; /* Adjust the height of the underline */
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

.underline-animation:hover::after {
  width: 100%;
}

.logo{
  @apply flex items-center pl-10;
}

.nav-div{
  @apply flex justify-between bg-custom-black-1 font-bold font-heading1 p-2 shadow-intense z-50 border-b-2 border-custom-black-1;
}

.line-effect{
  @apply absolute -bottom-1 left-0 w-0 transition-all duration-300 h-0.5 bg-blue-600 group-hover:w-full;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea, button {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  background-color: #000000;
  border: none;
  color: rgb(118, 21, 21);
  cursor: pointer;
  font-weight: 700; /* Bold text */
}

.popup {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #4caf50;
  color: rgb(0, 0, 0);
  border-radius: 8px;
}

.footer {
  @apply bg-custom-black-1 p-2 flex flex-col text-blue-600 h-20 items-center justify-center justify-items-center;
}
